body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    background-image: url('https://t4.ftcdn.net/jpg/03/62/05/31/360_F_362053188_oQ0WRHCFkIY4QlXS1S5d1i9bpYup67ll.jpg'); /*background image*/
    background-size: cover;  /* image covers the whole screen */
    background-position: center;
    background-repeat: no-repeat;
}