<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer - blackjack.io</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trainer.css') }}">
</head>
<body>
    <!-- Logout button -->
    <button class="logout-button" onclick="showLogoutModal()">Logout</button>
    <button class="logout-button" onclick="saveStateAndNavigate('past_data')">Past Data</button>
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to log out?</p>
            <button class="modal-button confirm-button" onclick="confirmLogout()">Yes</button>
            <button class="modal-button cancel-button" onclick="hideLogoutModal()">No</button>
        </div>
    </div>

    <div class="content">
        <!-- Modal for entering money amount -->
        <div class="modal" id="moneyModal">
            <div class="modal-content">
                <h2>Enter Amount to Play With</h2>
                <input type="number" id="moneyInput" name = "moneyAmount" placeholder="Enter amount" min="1" required step="1">
                <button id="submitMoney">Submit</button>
                <div class="error-message" id="errorMessage">Please enter a valid amount.</div>
            </div>
        </div>
    </div>

    <!-- Chip Buttons -->
    <footer>
        <div class="chip-container">
            <!-- White Chip -->
            <div class="chip">
                <div class="chip-count" id="white-count">0</div>
                <button class="chip-button white-chip" id="white-chip">White Chips</button>
                <div class="chip-value">$1</div>
            </div>

            <!-- Red Chip -->
            <div class="chip">
                <div class="chip-count" id="red-count">0</div>
                <button class="chip-button red-chip" id="red-chip">
                    Red 
                    <br>
                    Chips
                </button>
                <div class="chip-value">$5</div>
            </div>

            <!-- Green Chip -->
            <div class="chip">
                <div class="chip-count" id="green-count">0</div>
                <button class="chip-button green-chip" id="green-chip">Green Chips</button>
                <div class="chip-value">$25</div>
            </div>

            <!-- Black Chip -->
            <div class="chip">
                <div class="chip-count" id="black-count">0</div>
                <button class="chip-button black-chip" id="black-chip">Black Chips</button>
                <div class="chip-value">$100</div>
            </div>

            <!-- Purple Chip -->
            <div class="chip">
                <div class="chip-count" id="purple-count">0</div>
                <button class="chip-button purple-chip" id="purple-chip">Purple Chips</button>
                <div class="chip-value">$500</div>
            </div>
        </div>
    </footer>

    <div class="action-buttons">
        <button class="action-button" id="hitBtn">Hit</button>
        <button class="action-button" id="standBtn">Stand</button>
        <button class="action-button" id="doubleBtn">Double</button>
        <button class="action-button" id="surrenderBtn">Surrender</button>
        <button class="action-button" id="splitBtn">Split</button>
        <button class="action-button" id="redistributeBankroll">Redistribute Bankroll</button>
        <button class="action-button" id="addBankrollBtn">Add Bankroll</button>
    </div>

    <div class="bankrollModal-overlay" id="bankrollModalOverlay">
        <div class="bankrollModal" id="bankrollModal">
            <h2>Update Bankroll</h2>
            <input type="number" id="bankrollInput" name="bankroll" placeholder="Enter additional amount" required step="1">
            <div>
                <button class="submit-btn" id="submitBankroll">Submit</button>
                <button class="cancel-btn" id="cancelBankroll">Cancel</button>
            </div>
        </div>
    </div>

    <div id="bankroll">Bankroll: $0</div>
    <script src="{{ url_for('static', filename='JavaScriptFiles/trainer.js') }}"></script>
</body>
</html>
